Package: the.overmind.replayprefs
Name: rePLAY
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Proof-of-concept Deepworld hack.
Maintainer: fortuneteller2k
Author: fortuneteller2k
Section: Tweaks
