<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Restart Deepworld for changes to take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kAdmin</string>
			<key>label</key>
			<string>Admin Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kSteam</string>
			<key>label</key>
			<string>Steam Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kSpeed</string>
			<key>label</key>
			<string>Speed Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kInvincibility</string>
			<key>label</key>
			<string>Invincibility Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kDamage</string>
			<key>label</key>
			<string>Damage Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kPhase</string>
			<key>label</key>
			<string>Phase Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kSurvival</string>
			<key>label</key>
			<string>Survival Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kASupp</string>
			<key>label</key>
			<string>Anti-Suppressor Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kNoDetect</string>
			<key>label</key>
			<string>NoDetect Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kNoClip</string>
			<key>label</key>
			<string>Noclip Module</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Only use noclip for getting through. It gives karma for mining.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart Deepworld</string>
			<key>action</key>
			<string>killDeepworld</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart backboardd</string>
			<key>action</key>
			<string>killbackboardd</string>
		</dict>
	</array>
	<key>title</key>
	<string>rePLAY</string>
</dict>
</plist>
