<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Restart Deepworld for changes to take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kAdmin</string>
			<key>label</key>
			<string>Admin (Limited)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kSteam</string>
			<key>label</key>
			<string>Infinite Steam</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kSpeed</string>
			<key>label</key>
			<string>General Speed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kInvincibility</string>
			<key>label</key>
			<string>Invincibility</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kDamage</string>
			<key>label</key>
			<string>Extra Damage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kPhase</string>
			<key>label</key>
			<string>Phase (Soft NC)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kSurvival</string>
			<key>label</key>
			<string>Survival</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kASupp</string>
			<key>label</key>
			<string>Anti-Suppressor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kNoDetect</string>
			<key>label</key>
			<string>NoDetect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kAirWalk</string>
			<key>label</key>
			<string>Air Walk</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kNoClip</string>
			<key>label</key>
			<string>Noclip</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kPowerMine</string>
			<key>label</key>
			<string>Power Mine</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kLight</string>
			<key>label</key>
			<string>Extra Visibility</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kZoom</string>
			<key>label</key>
			<string>Far Sight (Zoom)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>the.overmind.replayprefs</string>
			<key>key</key>
			<string>kZoomSlider</string>
			<key>max</key>
			<real>0</real>
			<key>min</key>
			<real>-0.7</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>The lower the value, the farther away the zoom is.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Only tap the zoom button once.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart Deepworld</string>
			<key>action</key>
			<string>killDeepworld</string>
		</dict>
	</array>
	<key>title</key>
	<string>rePLAY</string>
</dict>
</plist>
