Package: the.overmind.replay
Name: rePLAY
Depends: mobilesubstrate
Version: 1.5.0
Architecture: iphoneos-arm
Description: Proof-of-concept Deepworld hack.
Maintainer: fortuneteller2k
Author: fortuneteller2k
Section: Tweaks
